body{
        box-sizing: border-box;
        background-color: aqua;
        margin: 0;
        width:100%;
    }


.main-container{
    max-width:100%;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
.section-one{
    width:100%;
    min-height: 33.33%;
    display: flex;

    
}
.first-box{
    width:100%;
    min-height: 33.33%;
    background-color:greenyellow;
    border: 1px solid black;
    padding: 12px;
    margin: 12px;
}
.section-two{
    width:100%;
    min-height: 33.33%;
    display: flex;
    justify-content: space-evenly;
}
.second-box{
    width:50%;
    min-height: 33.33%;    
    background-color: bisque;
    border: 1px solid black;
    margin: 12px;
    padding: 12px;
}
.section-three{
    width: 100%;
    min-height: 33.33%;
    display: flex;
    justify-content: space-evenly;
}
.third-box{
    width:33.33%;
    min-height: 33.33%;
    margin: 12px;
    padding: 12px;
    background-color: blanchedalmond;
    border: 1px solid #000000;
}
/*.each-box{
    color: red;
    margin:0;
    text-align: center;
    font-style: italic;
    font-size: 18px;*/



 @media only screen and (max-width:500px){
    .section-one,.section-two,.section-three{
        flex-direction: column;
    }

    .first-box{
        width:100%;
    
    }
     .second-box{
        width:100%;
        flex-shrink: 0;
        
    }
    .third-box{
        width:100%;
        flex-shrink: 0;
        

    }
}


